[data-theme='light'] {
  --background-color: #fff;
  --color: #000;
  --logo-bg-color: #f4f4f4;
  --logo-text-color: #333;
}

[data-theme='dark'] {
  --background-color: #333;
  --color: #fff;
  --logo-bg-color: #333;
  --logo-text-color: #f4f4f4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
