.product-category {
  font-size: 1.2em;
  color: #888;
  margin-bottom: 8px;
}

.product-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}
