.tooltip-target {
  display: inline-block;
  position: relative;
}

.tooltip-content {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: whitesmoke;
  opacity: 1;
  transition-duration: var(--tooltip-animation-ms, 1000ms);
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-out {
  opacity: 0;
}
