.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-input {
  width: 50px;
  font-size: 1em;
  text-align: center;
  border: 1px solid #007bff;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;
}
