.header {
  display:flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--header-bg-color);
  color: white;
  padding: 10px;
  min-height: 50px;
  z-index: 1000;
}
