.button {
  padding: 10px 15px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    &:not([disabled]) {
      background-color: #0056b3;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
